<div class="lobby-layout">
    <header class="lobby-header">
        <div class="lobby-logo">
            <img src="outfoxed_logo.png" alt="" class="lobby-logo__img" />
        </div>
    </header>

    <section class="lobby-actions">
        <fox-button [text]="'Создать игру'"> </fox-button>
        <fox-button [text]="'Войти по коду'"> </fox-button>
    </section>

    <section class="lobby-rooms">
        <h2>Список игр</h2>
    </section>

    <fox-card size="md" variant="inset"></fox-card>
</div>
