<div class="lobby-layout">
    <header class="lobby-header">
        <div class="lobby-logo">
            <img src="outfoxed_logo.png" alt="" class="lobby-logo__img" />
        </div>
    </header>

    <main class="lobby-main">
        <section class="lobby-rooms-header">
            <h2 class="lobby-rooms-title">Доступные игры</h2>
            <div class="lobby-actions">
                <fox-button
                    [text]="'Создать игру'"
                    [color]="'green'"
                    [size]="'lg'"
                    (click)="createRoom()"
                ></fox-button>
                <fox-button
                    [text]="'Войти по коду'"
                    [size]="'lg'"
                    (click)="openJoinModal()"
                ></fox-button>
            </div>
        </section>

        <section class="lobby-rooms">
            @if (isLoading()) {
                <div class="rooms-skeleton">
                    @for (i of [1, 2, 3]; track i) {
                        <div class="room-skeleton-item"></div>
                    }
                </div>
            } @else if (rooms().length === 0) {
                <div class="rooms-empty">
                    <p class="rooms-empty__title">Комнат пока нет</p>
                    <p class="rooms-empty__hint">Создайте первую игру!</p>
                </div>
            } @else {
                <ul class="room-list">
                    @for (room of rooms(); track room.id) {
                        <li
                            class="room-item"
                            [class.room-item--full]="room.status === 'active'"
                        >
                            <fox-card size="sm" variant="flat"
                                ><div class="room-card">
                                    <div class="room-item__info">
                                        <div class="room-item__top">
                                            <span class="room-item__name">{{
                                                room.title
                                            }}</span>
                                            @if (room.status === "waiting") {
                                                <span
                                                    class="room-badge room-badge--starting"
                                                    >Скоро начнётся</span
                                                >
                                            }
                                            @if (room.status === "active") {
                                                <span
                                                    class="room-badge room-badge--full"
                                                    >Заполнена</span
                                                >
                                            }
                                        </div>

                                        <div class="room-item__meta">
                                            <span class="room-item__host">
                                                <!-- добавить иконку человечка -->
                                                {{ room.host_username }}
                                            </span>
                                            <span class="room-item__players">
                                                <!-- добавить иконку людей -->
                                                {{ room.players_count }} /
                                                {{ room.max_players }}
                                            </span>
                                        </div>

                                        <div class="room-item__progress">
                                            @for (
                                                slot of [1, 2, 3, 4];
                                                track slot
                                            ) {
                                                <div
                                                    class="room-item__slot"
                                                    [class.room-item__slot--filled]="
                                                        slot <=
                                                        room.players_count
                                                    "
                                                ></div>
                                            }
                                        </div>
                                    </div>

                                    <fox-button
                                        [text]="
                                            room.status === 'active'
                                                ? 'Занято'
                                                : 'Войти'
                                        "
                                        [isDisabled]="room.status === 'active'"
                                        (click)="joinRoom(room)"
                                    >
                                    </fox-button>
                                </div>
                            </fox-card>
                        </li>
                    }
                </ul>
            }
        </section>
    </main>
    @if (createModalOpen()) {
        <app-create-game-modal
            (closeModal)="closeCreateModal()"
        ></app-create-game-modal>
    }
</div>

<!-- to do: где поставлен статус active - заменить и вычислять заполненность комнаты -->
