<div [class]="wrapperClasses()">
    @if (label()) {
        <label [for]="inputId" class="inp__label">{{ label() }}</label>
    }
    <div class="inp__field-wrap">
        <input
            [id]="inputId"
            [type]="resolvedType()"
            [class]="inputClasses()"
            [placeholder]="placeholder()"
            [disabled]="disabled()"
            [value]="value"
            (input)="onInput($event)"
            (blur)="onBlur()"
            (focus)="onFocus()"
        />

        @if (type() === "password") {
            <button
                type="button"
                class="inp__affix inp__affix--right inp__eye-toggle"
                (click)="togglePassword()"
            >
                @if (!passwordVisible()) {
                    <img src="icons8-show-24.png" alt="" />
                } @else {
                    <img src="icons8-hide-24.png" alt="" />
                }
            </button>
        }
    </div>
</div>
