<div class="login-page">
    <div class="login-card">
        <h2>Авторизация</h2>
        <div class="login-form-wrap">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
                class="login-form"
                novalidate
            >
                <label for="nick-name">Имя пользователя: </label>
                <fox-input type="password" placeholder="Пароль" />

                <!-- <fox-input
                    label="Email"
                    type="email"
                    placeholder="you@example.com"
                    [required]="true"
                    autocomplete="email"
                    formControlName="email"
                />

                <label for="password">Пароль: </label>
                <fox-input [type]="'password'" [placeholder]="'пароль'" />
                <input id="password" type="text" formControlName="password" /> -->

                <a>Забыли пароль?</a>

                <fox-button [text]="'Войти'"></fox-button>
                <div>Нет аккаунта? <a href="">Зарегистрироваться</a></div>
            </form>
        </div>
    </div>
</div>
