// переделать, просто для наглядности
input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
