<!-- <h1 class="page-title">Вход</h1> -->
<div class="login-page">
    <div class="login-card">
        <div class="login-form-wrap">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
                class="login-form"
                novalidate
            >
                <fox-input
                    type="text"
                    placeholder="your_name"
                    label="Имя пользователя:"
                />
                <fox-input
                    type="password"
                    placeholder="Пароль"
                    label="Пароль:"
                />

                <div class="forgot-wrap">
                    <a class="forgot-link">Забыли пароль?</a>
                </div>

                <fox-button [text]="'Войти'" [fullWidth]="true"></fox-button>
                <div class="no-account">
                    Нет аккаунта?
                    <a routerLink="/auth/register" class="to-register">
                        Зарегистрироваться</a
                    >
                </div>
            </form>
        </div>
    </div>
</div>
