<div class="register-page">
    <div class="register-card">
        <h2>Регистрация</h2>

        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="nick-name">Имя пользователя: </label>
            <input id="nick-name" type="text" formControlName="nickName" />

            <label for="email">Электронная почта: </label>
            <input id="email" type="text" formControlName="email" />

            <label for="password">Пароль: </label>
            <input id="password" type="text" formControlName="password" />

            <label for="password">Повторите пароль: </label>
            <input id="password" type="text" formControlName="password" />

            <fox-button [text]="'Зарегистрироваться'"></fox-button>
            <div>Уже есть аккаунт? <a href="">Войти</a></div>
        </form>
    </div>
</div>
