<!-- <h1 class="page-title">Регистрация</h1> -->
<div class="register-page">
    <div class="register-card">
        <div class="register-form-wrap">
            <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()"
                class="register-form"
                novalidate
            >
                <fox-input
                    type="text"
                    placeholder="your_name"
                    label="Имя пользователя:"
                />
                <fox-input
                    type="password"
                    placeholder="Пароль"
                    label="Пароль:"
                />
                <fox-input
                    type="password"
                    placeholder="Пароль"
                    label="Повторите пароль:"
                />

                <fox-button
                    class="register-btn"
                    [fullWidth]="true"
                    [text]="'Войти'"
                ></fox-button>
                <div class="account-exists">
                    Уже есть аккаунт?
                    <a routerLink="/auth/login" class="to-login">Войти</a>
                </div>
            </form>
        </div>
    </div>
</div>
